.scarousel-item {
	float: left;
}
.scarousel-item img {
	width: 100%;
}

body {
	height: 1500px;
}
.scarousel-wrapper {

}
.scarousel-wrapper::after {
    content:"";
    display:block;
    clear:both;
}
.scarousel-navigation-prev, .scarousel-navigation-next {

	border: solid 1px;
	text-align: right;
	box-sizing: border-box;
	padding: 10px;
	display: inline-block;
	margin: 5px;
	border-radius: 5px;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
}

.scarousel-navigation {
	text-align: center;
}